<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd"
    xmlns="http://maven.apache.org/SETTINGS/1.1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <profiles>
    <profile>
      <id>ci-repo</id>
      <repositories>
        <repository>
          <id>ogcs-3rdparty</id>
          <name>OG CS Maven Repo</name>
          <url>https://repo.og-cs.hr/repository/ogcs-maven-group/</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>ogcs-3rdparty-plugin</id>
          <name>OG CS Maven Mirror</name>
          <url>https://repo.og-cs.hr/repository/ogcs-maven-group/</url>
          <layout>default</layout>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <releases>
            <updatePolicy>never</updatePolicy>
          </releases>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>ci-repo</activeProfile>
  </activeProfiles>
  <servers>
    <server>
      <id>releases</id>
      <username>${env.MAVEN_REPO_USER}</username>
      <password>${env.MAVEN_REPO_PASS}</password>
    </server>
    <server>
      <id>snapshots</id>
      <username>${env.MAVEN_REPO_USER}</username>
      <password>${env.MAVEN_REPO_PASS}</password>
    </server>
    <server>
      <id>ogcs-maven-dev-local</id>
      <username>${env.MAVEN_REPO_USER}</username>
      <password>${env.MAVEN_REPO_PASS}</password>
    </server>
    <server>
      <id>ogcs-maven-prod-local</id>
      <username>${env.MAVEN_REPO_USER}</username>
      <password>${env.MAVEN_REPO_PASS}</password>
    </server>
    <server>
      <id>ogcs-3rdparty</id>
      <username>${env.MAVEN_REPO_USER}</username>
      <password>${env.MAVEN_REPO_PASS}</password>
    </server>
    <server>
      <id>ogcs-3rdparty-plugin</id>
      <username>${env.MAVEN_REPO_USER}</username>
      <password>${env.MAVEN_REPO_PASS}</password>
    </server>
    <server>
      <id>ogcs-gitlab</id>
      <username>openshift</username>
      <password>${env.GIT_REPO_PASS}</password>
    </server>
  </servers>
</settings>